<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>695957294172-cvftq9pt67tdci5as0ee2hrdoc51j881.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.695957294172-cvftq9pt67tdci5as0ee2hrdoc51j881</string>
	<key>API_KEY</key>
	<string>AIzaSyC1tYhZZvGrbZnAx3omKdiUky2H_te6wXg</string>
	<key>GCM_SENDER_ID</key>
	<string>695957294172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supaKota</string>
	<key>PROJECT_ID</key>
	<string>supa-koto</string>
	<key>STORAGE_BUCKET</key>
	<string>supa-koto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:695957294172:ios:a228b154faac149d052a99</string>
</dict>
</plist>